@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: auto
}

footer {
    color: white;
    background-color: #004A99;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    line-height: 1.5;
    

}


h1 {
    margin-top: auto
}

section {
    display: flex;
    justify-content: space-evenly;
}

.Columna1{
    width:60%;
}

.Columna4{
    width:50%;
}



.copyright {
    background-color: #00428A;
    height: 150px;
}


ul {
    padding: 0;
    list-style-type: none;
    line-height: 2;
    
}

li {
    
}


.parte1 {
    display: flex;
    flex: 1;
}

.parte2 {
    display: flex;
    flex: 1;
}

input {
    border: none;
    padding: 0;
    height: 33px;
}
.s{
   background-color: #007BFF;
   border: none;
   padding: 0;
   height: 33px;
   width: 90px;
   color: #fff;
   
}

.copyright {
   background-color: #00428A;
   font-family: 'Montserrat', sans-serif;
   color:#fff;
   font-size: 15px;;
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

@media (min-width: 601px) and (max-width: 900px) {
    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .parte1 {
        display: flex;
     
    }
    .Columna1 {
        flex: 1;
    }
    .Columna2 {
        flex: 1;
    }
    

    .parte2 {
        display: flex;
        flex: 1;}

    .Columna3 {
        flex: 1;
    }
    .Columna4 {
        flex: 1;
    }
    .copyright {
        
        height: 100%;
    }
    .s{
   
   height: 21px;
   
   
}
    }



@media (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        font-size: smaller;
        height: 100%;
        
    }
    
    .parte1 {
        display: flex;
        flex-wrap: wrap;
        
    
    }
    .parte2 {
        display: flex;
        flex-wrap: wrap;
        
    
    }

    .copyright {
        font-size: 11px;
        height: 100%;
    }
}